@page "{pokemonId:long}"
@model EditModel

@{
    ViewData["Title"] = "Modifier les informations";
}

<style>
    div.horizontal {
      display: flex;
      flex-direction: row;
    }

    div.vertical {
      display: flex;
      flex-direction: column;
    }

    div.vertical#left {
      max-width: 550px;
    }

    .img-container img {
      max-width: 100%;
      height: auto;
    }

    div.vertical#right {
      display: flex;
      max-width: 550px;
      height: auto;
    }

    div.horizontal#desc {
      display: flex;
      gap: 100px;
    }

    div.horizontal#stats {
      display: flex;
      width: 550px;
      justify-content: space-between;
      margin: 20px;
    }

    .name {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    
    body {
        font-family: Arial, sans-serif;
        background-color: #f5f5f5;
    }

    .info-container {
        margin: 0 auto;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .text-center {
        text-align: center;
    }

    .img-container {
        max-width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    .description {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .type {
        display: inline-block;
        margin-right: 10px;
        font-weight: bold;
    }

    .stat {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
    }

    .stat label {
        font-weight: bold;
    }

    .stat p {
        margin: 0;
    }
</style>

<div class="text-center info-container">
    <div class="horizontal" id="desc">
        <div class="vertical" id="left">
            <div class="img-container">
                <img src="@Model.CurrentPokemon.ImagePath" alt="Pokemon Image" style="border-radius: 5px">
            </div>
        </div>

        
        <div class="vertical" id="right">
            <form method="post" asp-page-handler="Save">
                <label for="name">Name</label><br>
                <input type="text" id="name" name="name" value=@Model.CurrentPokemon.Name><br>
                <label for="description">Description</label><br>
                <input type="text" id="description" name="description" value=@Model.CurrentPokemon.Description>
                <div class="horizontal">
                    <span>
                        <label for="typeOne">Type 1 :</label>
                        <select id="typeOne" name="typeOne">
                            <!option value="Normal" @(Model.CurrentPokemon.Type1 == "Normal" ? "selected" : "")>Normal</!option>
                            <!option value="Eau" @(Model.CurrentPokemon.Type1 == "Eau" ? "selected" : "")>Eau</!option>
                            <!option value="Feu" @(Model.CurrentPokemon.Type1 == "Feu" ? "selected" : "")>Feu</!option>
                            <!option value="Plante" @(Model.CurrentPokemon.Type1 == "Plante" ? "selected" : "")>Plante</!option>
                            <!option value="Fée" @(Model.CurrentPokemon.Type1 == "Fée" ? "selected" : "")>Fée</!option>
                            <!option value="Acier" @(Model.CurrentPokemon.Type1 == "Acier" ? "selected" : "")>Acier</!option>
                            <!option value="Ténèbres" @(Model.CurrentPokemon.Type1 == "Ténèbres" ? "selected" : "")>Ténèbres</!option>
                            <!option value="Spectre" @(Model.CurrentPokemon.Type1 == "Spectre" ? "selected" : "")>Spectre</!option>
                            <!option value="Dragon" @(Model.CurrentPokemon.Type1 == "Dragon" ? "selected" : "")>Dragon</!option>
                            <!option value="Insecte" @(Model.CurrentPokemon.Type1 == "Insecte" ? "selected" : "")>Insecte</!option>
                            <!option value="Glace" @(Model.CurrentPokemon.Type1 == "Glace" ? "selected" : "")>Glace</!option>
                            <!option value="Roche" @(Model.CurrentPokemon.Type1 == "Roche" ? "selected" : "")>Roche</!option>
                            <!option value="Sol" @(Model.CurrentPokemon.Type1 == "Sol" ? "selected" : "")>Sol</!option>
                            <!option value="Poison" @(Model.CurrentPokemon.Type1 == "Poison" ? "selected" : "")>Poison</!option>
                            <!option value="Vol" @(Model.CurrentPokemon.Type1 == "Vol" ? "selected" : "")>Vol</!option>
                            <!option value="Psy" @(Model.CurrentPokemon.Type1 == "Psy" ? "selected" : "")>Psy</!option>
                            <!option value="Electrique" @(Model.CurrentPokemon.Type1 == "Electrique" ? "selected" : "")>Electrique</!option>
                            <!option value="Combat" @(Model.CurrentPokemon.Type1 == "Combat" ? "selected" : "")>Combat</!option>
                        </select>
                    </span>
                    <span>
                        <label for="typeTwo">Type 2 :</label>
                        <select id="typeTwo" name="typeTwo">
                            <!option value="" @(Model.CurrentPokemon.Type2 == "" ? "selected" : "")>Aucun</!option>
                            <!option value="Normal" @(Model.CurrentPokemon.Type2 == "Normal" ? "selected" : "")>Normal</!option>
                            <!option value="Eau" @(Model.CurrentPokemon.Type2 == "Eau" ? "selected" : "")>Eau</!option>
                            <!option value="Feu" @(Model.CurrentPokemon.Type2 == "Feu" ? "selected" : "")>Feu</!option>
                            <!option value="Plante" @(Model.CurrentPokemon.Type2 == "Plante" ? "selected" : "")>Plante</!option>
                            <!option value="Fée" @(Model.CurrentPokemon.Type2 == "Fée" ? "selected" : "")>Fée</!option>
                            <!option value="Acier" @(Model.CurrentPokemon.Type2 == "Acier" ? "selected" : "")>Acier</!option>
                            <!option value="Ténèbres" @(Model.CurrentPokemon.Type2 == "Ténèbres" ? "selected" : "")>Ténèbres</!option>
                            <!option value="Spectre" @(Model.CurrentPokemon.Type2 == "Spectre" ? "selected" : "")>Spectre</!option>
                            <!option value="Dragon" @(Model.CurrentPokemon.Type2 == "Dragon" ? "selected" : "")>Dragon</!option>
                            <!option value="Insecte" @(Model.CurrentPokemon.Type2 == "Insecte" ? "selected" : "")>Insecte</!option>
                            <!option value="Glace" @(Model.CurrentPokemon.Type2 == "Glace" ? "selected" : "")>Glace</!option>
                            <!option value="Roche" @(Model.CurrentPokemon.Type2 == "Roche" ? "selected" : "")>Roche</!option>
                            <!option value="Sol" @(Model.CurrentPokemon.Type2 == "Sol" ? "selected" : "")>Sol</!option>
                            <!option value="Poison" @(Model.CurrentPokemon.Type2 == "Poison" ? "selected" : "")>Poison</!option>
                            <!option value="Vol" @(Model.CurrentPokemon.Type2 == "Vol" ? "selected" : "")>Vol</!option>
                            <!option value="Psy" @(Model.CurrentPokemon.Type2 == "Psy" ? "selected" : "")>Psy</!option>
                            <!option value="Electrique" @(Model.CurrentPokemon.Type2 == "Electrique" ? "selected" : "")>Electrique</!option>
                            <!option value="Combat" @(Model.CurrentPokemon.Type2 == "Combat" ? "selected" : "")>Combat</!option>
                        </select>
                    </span>
                </div>
                <div class="horizontal" id="stats">
                    <div class="vertical" id="first">
                        <div><label for="hp">PV</label>
                            <input type="number" id="hp" name="hp" value=@Model.CurrentPokemon.Hp>
                        </div>
                        <div><label for="speed">Vitesse</label>
                            <input type="number" id="speed" name="speed" value=@Model.CurrentPokemon.Speed>
                        </div>
                    </div>
                    <div class="vertical" id="second">
                        <div><label for="attack">Attaque</label>
                            <input type="number" id="attack" name="attack" value=@Model.CurrentPokemon.Attack>
                        </div>
                        <div><label for="speAtt">Attaque spé.</label>
                            <input type="number" id="speAtt" name="speAtt" value=@Model.CurrentPokemon.AttackSpe>
                        </div>
                    </div>
                    <div class="vertical" id="third">
                        <div><label for="defense">Défense</label>
                            <input type="number" id="defense" name="defense" value=@Model.CurrentPokemon.Def>
                        </div>
                        <div><label for="speDef">Défense spé.</label>
                            <input type="number" id="speDef" name="speDef" value=@Model.CurrentPokemon.DefSpe>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Enregistrer les statistiques</button>
            </form>
            <form method="post" asp-page-handler="DeletePokemon">
                <button type="submit" class="btn" style="background: red">Supprimer le pokémon</button>
            </form>
            <div class="attacks">
                Attaque(s)
                <form method="post" asp-page-handler="RemoveAttack">
                    <ul>
                        @foreach (var attack in Model.RegisteredAttacks.Where(a => Model.CurrentPokemon.Attacks.Contains(a.Id)))
                        {
                            <input type="hidden" name="attackId" value="@attack.Id">
                            <li>
                                <text>
                                    @attack.Name : @attack.Description. Type : @attack.Type - Dégâts : @attack.Damage - Précision : @attack.Accuracy
                                </text>
                                <button type="submit" class="btn btn-close"></button>
                            </li>
                        }
                    </ul>
                </form>
                <form method="post" asp-page-handler="AddAttack">
                    <select name="attackId">
                        @foreach (var attack in Model.RegisteredAttacks)
                        {
                            <option value="@attack.Id">@attack.Name</option>
                        }
                    </select>
                    <button type="submit" class="btn btn-secondary">Ajouter attaque</button>
                </form>
            </div>
        </div>
    </div>
</div>