@page "{hash?}"
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IndexModel

@{
    ViewData["Title"] = "Info";
}

<style>
    .card-types {
        display: flex;
        flex-wrap: wrap;
        margin-top: 10px;
    }
    .card-types .Eau {
        background-color: #4b4df7;
    }
    .card-types .Feu {
        background-color: #fc0000;
    }
    .card-types .Plante {
        background-color: #01a800;
    }
    .card-types .Fée {
        background-color: #fda9d3;
        color: black;
    }
    .card-types .Acier {
        background-color: #bfbfbf;
        color: black;
    }
    .card-types .Ténèbres {
        background-color: #002142;
    }
    .card-types .Spectre {
        background-color: #3d124f;
    }
    .card-types .Dragon {
        background-color: #f0ac0e;
        color: black;
    }
    .card-types .Insecte {
        background-color: #aff905;
        color: black;
    }
    .card-types .Glace {
        background-color: #00fbfd;
        color: black;
    }
    .card-types .Roche {
        background-color: #717171;
    }
    .card-types .Sol {
        background-color: #4b301f;
    }
    .card-types .Poison {
        background-color: #817f04;
    }
    .card-types .Vol {
        background-color: #5701ad;
    }
    .card-types .Psy {
        background-color: #b500b4;
    }
    .card-types .Electrique {
        background-color: #fdfd00;
        color: black;
    }
    .card-types .Combat {
        background-color: #c1491c;
    }
    .card-types .Normal {
        background-color: #fcfcfc;
        color: black;
    }
    .card-types span {
        margin-right: 10px;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 8px;
        color: white;
    }
    
</style>

<div class="text-center">
    <h1>Bienvenue sur le Pokédex !</h1>
    <p>La liste qui recense les Pokémons existants.</p>
    <button type="button" class="btn btn-primary" style="background: white"><a asp-page="/CreatePokemon">J'ajoute un Pokémon !</a></button>
    <br/>
    <br/>
</div>

<div class="container">
    <form method="post" asp-page-handler="Search">
        <div class="row">
            <div style="margin: 7px">
                <div class="input-group">
                    <input id="searchInput" type="text" placeholder="Rechercher..." class="form-control" value="@Model.SearchQuery" name="SearchQuery">
                    <button type="submit" class="btn btn-primary" style="margin-left: 5px;">Rechercher</button>
                </div>
            </div>
            <div class="filter-select" style="display: flex; justify-content: space-between">
                <span>
                    <label for="typeSelect">Filter par type :</label>
                    <select id="typeSelect" name="SelectedType">
                        <!option value="" >Sélectionnez un type...</!option>
                        <!option value="" @(Model.SelectedType == "" ? "selected" : "")> Tous les types</!option>
                        <!option value="Eau" @(Model.SelectedType == "Eau" ? "selected" : "")>Eau</!option>
                        <!option value="Feu" @(Model.SelectedType == "Feu" ? "selected" : "")>Feu</!option>
                        <!option value="Plante" @(Model.SelectedType == "Plante" ? "selected" : "")>Plante</!option>
                        <!option value="Fée" @(Model.SelectedType == "Fée" ? "selected" : "")>Fée</!option>
                        <!option value="Acier" @(Model.SelectedType == "Acier" ? "selected" : "")>Acier</!option>
                        <!option value="Ténèbres" @(Model.SelectedType == "Ténèbres" ? "selected" : "")>Ténèbres</!option>
                        <!option value="Spectre" @(Model.SelectedType == "Spectre" ? "selected" : "")>Spectre</!option>
                        <!option value="Dragon" @(Model.SelectedType == "Dragon" ? "selected" : "")>Dragon</!option>
                        <!option value="Insecte" @(Model.SelectedType == "Insecte" ? "selected" : "")>Insecte</!option>
                        <!option value="Glace" @(Model.SelectedType == "Glace" ? "selected" : "")>Glace</!option>
                        <!option value="Roche" @(Model.SelectedType == "Roche" ? "selected" : "")>Roche</!option>
                        <!option value="Sol" @(Model.SelectedType == "Sol" ? "selected" : "")>Sol</!option>
                        <!option value="Poison" @(Model.SelectedType == "Poison" ? "selected" : "")>Poison</!option>
                        <!option value="Vol" @(Model.SelectedType == "Vol" ? "selected" : "")>Vol</!option>
                        <!option value="Psy" @(Model.SelectedType == "Psy" ? "selected" : "")>Psy</!option>
                        <!option value="Electrique" @(Model.SelectedType == "Electrique" ? "selected" : "")>Electrique</!option>
                        <!option value="Combat" @(Model.SelectedType == "Combat" ? "selected" : "")>Combat</!option>
                        <!option value="Normal" @(Model.SelectedType == "Normal" ? "selected" : "")>Normal</!option>
                    </select>
                </span>
                <div class="form-check form-check-inline">
                    <input type="checkbox" id="favoriteCheckbox" name="ShowFavorites" @(Model.ShowFavorites ? "checked" : "")>
                    <label for="favoriteCheckbox">Ne montrer que les favoris</label>
                </div>
            </div>
        </div>
    </form>
    <div id="pokemonList" class="row">
        @foreach (var pokemon in Model.RegisteredPokemons)
        {
            <div class="col-md-4 card-item" style="padding: 5px">
                <div class="card" style="border-radius: 5px">
                    <a asp-page="/Info" asp-route-pokemonId="@pokemon.Id" style="text-decoration: none !important">
                        <div class="card-body">
                            <div style="display: flex; align-items: center; justify-content: space-between;">
                                <h5 class="card-title" style="color: black;">@pokemon.Name</h5>
                                <form method="post">
                                    <input type="hidden" name="pokemonId" value="@pokemon.Id">
                                    @if (Model.CurrentUser == null)
                                    {
                                        <img alt="disabled_favorite" src="resources/images/heart_disabled.png" style="width: 20px; height: 20px; z-index: 5">
                                    }
                                    else if (Model.CurrentUser.Pokemons.Contains(pokemon.Id))
                                    {
                                        <input type="image" asp-page-handler="RemoveFavorite" alt="favorite" src="resources/images/heart_full.png" style="width: 20px; height: 20px; z-index: 5">
                                    }
                                    else
                                    {
                                        <input type="image" asp-page-handler="AddFavorite" alt="not_favorite" src="resources/images/heart_empty.png" style="width: 20px; height: 20px; z-index: 5">
                                    }
                                </form>
                            </div>
                            <div class="card-types">
                                <span class="@pokemon.Type1">@pokemon.Type1</span>
                                @if (pokemon.Type2?.Length > 0)
                                {
                                    <span class="@pokemon.Type2">@pokemon.Type2</span>
                                }
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        }
    </div>
    <div id="noResultsMessage" class="row" style="@(Model.RegisteredPokemons.Any() ? "display:none; padding: 5px" : "")">
        <p>Aucun Pokémon trouvé !</p>
    </div>
</div>


<script>
// todo : add the creation page
function addPokemonPage() {
    window.location.href = "@Url.Content("~/add-pokemon.html")";
}

document.getElementById("typeSelect").addEventListener("change", function() {
    this.form.submit();
});

document.getElementById("favoriteCheckbox").addEventListener("click", function() {
    this.form.submit();
});
    
</script>
