@page "{hash?}"
@model IndexModel

<!-- fixme ^-->
@{
    ViewData["Title"] = "Home Page";
}

<style>
    .card-types {
        display: flex;
        flex-wrap: wrap;
        margin-top: 10px;
    }
    .card-types .Eau {
        background-color: blue;
    }
    .card-types .Herbe {
        background-color: green;
    }
    .card-types .Feu {
        background-color: red;
    }
    .card-types span {
        margin-right: 10px;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 8px;
        color: white;
    }
</style>

<div class="text-center">
    <h1>Bienvenue sur le Pokédex !</h1>
    <p>La liste qui recense les Pokémons existants.</p>
    <button class="btn btn-primary mb-2" onclick="addPokemonPage()">J'ajoute un Pokémon !</button>
    <br/>
    <br/>
</div>

<div class="container">
    <div class="row">
        <div style="margin: 7px">
            <form method="post" asp-page-handler="Search">
                <div class="input-group">
                    <input id="searchInput" type="text" placeholder="Rechercher..." class="form-control" value="@Model.SearchQuery" name="SearchQuery">
                        <button type="submit" class="btn btn-primary" style="margin-left: 5px;">Rechercher</button>
                </div>
            </form>
        </div>
        <div style="margin: 7px">
            <label for="typeSelect">Filter par type :</label>
            <select id="typeSelect" onchange="filterByType()">
                <option value="">Sélectionnez un type...</option>
                <option value="Eau">Eau</option>
                <option value="Herbe">Herbe</option>
                <option value="Feu">Feu</option>
            </select>
        </div>
    </div>
    <div id="pokemonList" class="row">
        @foreach (var pokemon in Model.RegisteredPokemons)
        {
            <div class="col-md-4 card-item" style="padding: 5px">
                <div class="card">
                    <img src="@Url.Content(pokemon.ImagePath)" class="card-img-top" alt="Pokemon Image">
                    <div class="card-body">
                        <h5 class="card-title">@pokemon.Name</h5>
                        <div class="card-types">
                            <span class="@pokemon.Type1">@pokemon.Type1</span>
                            @if (pokemon.Type2?.Length > 0)
                            {
                                <span class="@pokemon.Type2">@pokemon.Type2</span>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <div id="noResultsMessage" class="row" style="display: none;">
        <div class="col-md-12">
            <p>Aucun Pokémon ne correspond à cette recherche.</p>
        </div>
    </div>
</div>


<script>
// todo : add the creation page
function addPokemonPage() {
    window.location.href = "@Url.Content("~/add-pokemon.html")";
}
    
function filterByType() {
    var typeSelect = document.getElementById('typeSelect');
    var selectedType = typeSelect.value.toUpperCase();
    var pokemonList = document.getElementById('pokemonList');
    var cards = pokemonList.getElementsByClassName('card-item');
    var noResultsMessage = document.getElementById('noResultsMessage');

    var found = false;

    for (var i = 0; i < cards.length; i++) {
        var types = cards[i].querySelector('.card-types');
        var typeTags = types.getElementsByTagName('span');
        var showCard = false;

        for (var j = 0; j < typeTags.length; j++) {
            var type = typeTags[j].innerText.toUpperCase();
            if (selectedType === '' || type === selectedType) {
                showCard = true;
                break;
            }
        }

        if (showCard) {
            cards[i].style.display = '';
            found = true;
        } else {
            cards[i].style.display = 'none';
        }
    }

    if (found) {
        noResultsMessage.style.display = 'none';
    } else {
        noResultsMessage.style.display = '';
    }
}
</script>