@page "{pokemonId:long}"
@model InfoModel 

@{
    ViewData["Title"] = "Voir les informations";
}

<style>
div.horizontal {
  display: flex;
  flex-direction: row;
}

div.vertical {
  display: flex;
  flex-direction: column;
}

div.vertical#left {
  max-width: 550px;
}

.img-container img {
  max-width: 100%;
  height: auto;
}

div.vertical#right {
  display: flex;
  max-width: 550px;
  height: auto;
}

div.horizontal#desc {
  display: flex;
  gap: 100px;
}

div.horizontal#stats {
  display: flex;
  width: 550px;
  justify-content: space-between;
  margin: 20px;
}

.name {
  margin: 20px;
}

.attacks {
  margin-top: 20px;
}

.attacks li {
  margin-bottom: 5px;
}

.description {
  margin-top: 5px;
}
</style>

<div class="text-center">
    <div class="horizontal" id="desc">
        <div class="vertical" id="left">
            <div class="img-container">
                <img src="@Model.CurrentPokemon.ImagePath" alt="Pokemon Image" style="border-radius: 5px">
            </div>
        </div>

        <div class="vertical" id="right">
            <div class="name">
                <label for="name">Name:</label>
                <p>@Model.CurrentPokemon.Name</p>
            </div>
            <div class="description">
                <label for="description">Description:</label>
                <p>@Model.CurrentPokemon.Description</p>
            </div>
            <div class="horizontal">
                <div class="type">
                    <label for="typeOne">Type 1:</label>
                    <p>@Model.CurrentPokemon.Type1</p>
                </div>
                <div class="type">
                    <label for="typeTwo">Type 2:</label>
                    <p>@Model.CurrentPokemon.Type2</p>
                </div>
            </div>
            <div class="horizontal" id="stats">
                <div class="vertical">
                    <div class="stat">
                        <label for="hp">PV:</label>
                        <p>@Model.CurrentPokemon.Hp</p>
                    </div>
                    <div class="stat">
                        <label for="speed">Vitesse:</label>
                        <p>@Model.CurrentPokemon.Speed</p>
                    </div>
                </div>
                <div class="vertical">
                    <div class="stat">
                        <label for="attack">Attaque:</label>
                        <p>@Model.CurrentPokemon.Attack</p>
                    </div>
                    <div class="stat">
                        <label for="speAtt">Attaque spé.:</label>
                        <p>@Model.CurrentPokemon.AttackSpe</p>
                    </div>
                </div>
                <div class="vertical">
                    <div class="stat">
                        <label for="defense">Défense:</label>
                        <p>@Model.CurrentPokemon.Def</p>
                    </div>
                    <div class="stat">
                        <label for="speDef">Défense spé.:</label>
                        <p>@Model.CurrentPokemon.DefSpe</p>
                    </div>
                </div>
            </div>
            <div class="attacks">
                <p>Attaque(s)</p>
                <ul>
                    @foreach (var attack in Model.RegisteredAttacks.Where(a => Model.CurrentPokemon.Attacks.Contains(a.Id)))
                    {
                        <li> 
                            <strong>@attack.Name:</strong> @attack.Description<br>
                            <span>Type: @attack.Type</span><br>
                            <span>Dégâts: @attack.Damage</span><br>
                            <span>Précision: @attack.Accuracy</span>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>